
body{
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 30px 1fr 40px;
    grid-template-columns: 1fr 120px;
    
}

header{
    grid-area: header;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

main{
    grid-area: main;
    background-color: green;
}

aside{
    grid-area: aside;
    background-color: brown;
}

footer{
    grid-area: footer;
    background-color: orange;
}